<?php
/**
 * MessagesApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * FracTEL API 2.1.2
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 2.1.2
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * MessagesApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MessagesApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return MessagesApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation postMessagesReceive
     *
     * Configure the delivery service type used as the destination for received messages.
     *
     * @param string $fonenumber Your FracTEL phone number. (required)
     * @param string $type Message routing type. (required)
     * @param string $value Message routing type value. (optional)
     * @param string $url_method URL method when type is URL. (optional)
     * @param string $url_username Optional URL username when type is URL. (optional)
     * @param string $url_password Optional URL password when type is URL. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return string
     */
    public function postMessagesReceive($fonenumber, $type, $value = null, $url_method = null, $url_username = null, $url_password = null)
    {
        list($response) = $this->postMessagesReceiveWithHttpInfo($fonenumber, $type, $value, $url_method, $url_username, $url_password);
        return $response;
    }

    /**
     * Operation postMessagesReceiveWithHttpInfo
     *
     * Configure the delivery service type used as the destination for received messages.
     *
     * @param string $fonenumber Your FracTEL phone number. (required)
     * @param string $type Message routing type. (required)
     * @param string $value Message routing type value. (optional)
     * @param string $url_method URL method when type is URL. (optional)
     * @param string $url_username Optional URL username when type is URL. (optional)
     * @param string $url_password Optional URL password when type is URL. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of string, HTTP status code, HTTP response headers (array of strings)
     */
    public function postMessagesReceiveWithHttpInfo($fonenumber, $type, $value = null, $url_method = null, $url_username = null, $url_password = null)
    {
        // verify the required parameter 'fonenumber' is set
        if ($fonenumber === null) {
            throw new \InvalidArgumentException('Missing the required parameter $fonenumber when calling postMessagesReceive');
        }
        // verify the required parameter 'type' is set
        if ($type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $type when calling postMessagesReceive');
        }
        // parse inputs
        $resourcePath = "/messages/receive";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/x-www-form-urlencoded']);

        // form params
        if ($fonenumber !== null) {
            $formParams['fonenumber'] = $this->apiClient->getSerializer()->toFormValue($fonenumber);
        }
        // form params
        if ($type !== null) {
            $formParams['type'] = $this->apiClient->getSerializer()->toFormValue($type);
        }
        // form params
        if ($value !== null) {
            $formParams['value'] = $this->apiClient->getSerializer()->toFormValue($value);
        }
        // form params
        if ($url_method !== null) {
            $formParams['url_method'] = $this->apiClient->getSerializer()->toFormValue($url_method);
        }
        // form params
        if ($url_username !== null) {
            $formParams['url_username'] = $this->apiClient->getSerializer()->toFormValue($url_username);
        }
        // form params
        if ($url_password !== null) {
            $formParams['url_password'] = $this->apiClient->getSerializer()->toFormValue($url_password);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'string',
                '/messages/receive'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postMessagesReceiveNotify
     *
     * Configure the callback URL to notify when a message is received.
     *
     * @param string $fonenumber Your FracTEL phone number. (required)
     * @param string $method Callback URL method. (required)
     * @param string $url Callback URL. (required)
     * @param string $url_username Callback URL username. (optional)
     * @param string $url_password Callback URL password. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return string
     */
    public function postMessagesReceiveNotify($fonenumber, $method, $url, $url_username = null, $url_password = null)
    {
        list($response) = $this->postMessagesReceiveNotifyWithHttpInfo($fonenumber, $method, $url, $url_username, $url_password);
        return $response;
    }

    /**
     * Operation postMessagesReceiveNotifyWithHttpInfo
     *
     * Configure the callback URL to notify when a message is received.
     *
     * @param string $fonenumber Your FracTEL phone number. (required)
     * @param string $method Callback URL method. (required)
     * @param string $url Callback URL. (required)
     * @param string $url_username Callback URL username. (optional)
     * @param string $url_password Callback URL password. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of string, HTTP status code, HTTP response headers (array of strings)
     */
    public function postMessagesReceiveNotifyWithHttpInfo($fonenumber, $method, $url, $url_username = null, $url_password = null)
    {
        // verify the required parameter 'fonenumber' is set
        if ($fonenumber === null) {
            throw new \InvalidArgumentException('Missing the required parameter $fonenumber when calling postMessagesReceiveNotify');
        }
        // verify the required parameter 'method' is set
        if ($method === null) {
            throw new \InvalidArgumentException('Missing the required parameter $method when calling postMessagesReceiveNotify');
        }
        // verify the required parameter 'url' is set
        if ($url === null) {
            throw new \InvalidArgumentException('Missing the required parameter $url when calling postMessagesReceiveNotify');
        }
        // parse inputs
        $resourcePath = "/messages/receive_notify";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/x-www-form-urlencoded']);

        // form params
        if ($fonenumber !== null) {
            $formParams['fonenumber'] = $this->apiClient->getSerializer()->toFormValue($fonenumber);
        }
        // form params
        if ($method !== null) {
            $formParams['method'] = $this->apiClient->getSerializer()->toFormValue($method);
        }
        // form params
        if ($url !== null) {
            $formParams['url'] = $this->apiClient->getSerializer()->toFormValue($url);
        }
        // form params
        if ($url_username !== null) {
            $formParams['url_username'] = $this->apiClient->getSerializer()->toFormValue($url_username);
        }
        // form params
        if ($url_password !== null) {
            $formParams['url_password'] = $this->apiClient->getSerializer()->toFormValue($url_password);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'string',
                '/messages/receive_notify'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postMessagesSend
     *
     * Send an SMS or MMS message to a recipient.
     *
     * @param string $to The recipient&#39;s 10 digits phone number. (required)
     * @param string $fonenumber Your FracTEL phone number to use as from (required)
     * @param string $message Content of SMS (required)
     * @param string[] $media_url URL for media for send via SMS (up to 10) (optional)
     * @param string $confirmation_url Callback URL for confirmation (optional)
     * @param string $confirmation_url_username Callback URL username for confirmation (optional)
     * @param string $confirmation_url_password Callback URL password for confirmation (optional)
     * @param bool $require_confirmation Only send message if confirmation is available (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return string
     */
    public function postMessagesSend($to, $fonenumber, $message, $media_url = null, $confirmation_url = null, $confirmation_url_username = null, $confirmation_url_password = null, $require_confirmation = null)
    {
        list($response) = $this->postMessagesSendWithHttpInfo($to, $fonenumber, $message, $media_url, $confirmation_url, $confirmation_url_username, $confirmation_url_password, $require_confirmation);
        return $response;
    }

    /**
     * Operation postMessagesSendWithHttpInfo
     *
     * Send an SMS or MMS message to a recipient.
     *
     * @param string $to The recipient&#39;s 10 digits phone number. (required)
     * @param string $fonenumber Your FracTEL phone number to use as from (required)
     * @param string $message Content of SMS (required)
     * @param string[] $media_url URL for media for send via SMS (up to 10) (optional)
     * @param string $confirmation_url Callback URL for confirmation (optional)
     * @param string $confirmation_url_username Callback URL username for confirmation (optional)
     * @param string $confirmation_url_password Callback URL password for confirmation (optional)
     * @param bool $require_confirmation Only send message if confirmation is available (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of string, HTTP status code, HTTP response headers (array of strings)
     */
    public function postMessagesSendWithHttpInfo($to, $fonenumber, $message, $media_url = null, $confirmation_url = null, $confirmation_url_username = null, $confirmation_url_password = null, $require_confirmation = null)
    {
        // verify the required parameter 'to' is set
        if ($to === null) {
            throw new \InvalidArgumentException('Missing the required parameter $to when calling postMessagesSend');
        }
        // verify the required parameter 'fonenumber' is set
        if ($fonenumber === null) {
            throw new \InvalidArgumentException('Missing the required parameter $fonenumber when calling postMessagesSend');
        }
        // verify the required parameter 'message' is set
        if ($message === null) {
            throw new \InvalidArgumentException('Missing the required parameter $message when calling postMessagesSend');
        }
        if (!is_null($media_url) && (count($media_url) > 10)) {
            throw new \InvalidArgumentException('invalid value for "$media_url" when calling MessagesApi.postMessagesSend, number of items must be less than or equal to 10.');
        }

        // parse inputs
        $resourcePath = "/messages/send";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/x-www-form-urlencoded']);

        // form params
        if ($to !== null) {
            $formParams['to'] = $this->apiClient->getSerializer()->toFormValue($to);
        }
        // form params
        if ($fonenumber !== null) {
            $formParams['fonenumber'] = $this->apiClient->getSerializer()->toFormValue($fonenumber);
        }
        // form params
        if ($message !== null) {
            $formParams['message'] = $this->apiClient->getSerializer()->toFormValue($message);
        }
        // form params
        if ($media_url !== null) {
            $formParams['media_url'] = $this->apiClient->getSerializer()->toFormValue($media_url);
        }
        // form params
        if ($confirmation_url !== null) {
            $formParams['confirmation_url'] = $this->apiClient->getSerializer()->toFormValue($confirmation_url);
        }
        // form params
        if ($confirmation_url_username !== null) {
            $formParams['confirmation_url_username'] = $this->apiClient->getSerializer()->toFormValue($confirmation_url_username);
        }
        // form params
        if ($confirmation_url_password !== null) {
            $formParams['confirmation_url_password'] = $this->apiClient->getSerializer()->toFormValue($confirmation_url_password);
        }
        // form params
        if ($require_confirmation !== null) {
            $formParams['require_confirmation'] = $this->apiClient->getSerializer()->toFormValue($require_confirmation);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'string',
                '/messages/send'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postMessagesSendNotify
     *
     * Configure the callback URL to notify when a message is sent.
     *
     * @param string $fonenumber Your FracTEL phone number (required)
     * @param string $method Callback URL method. (required)
     * @param string $url Callback URL. (required)
     * @param string $url_username Callback URL username. (optional)
     * @param string $url_password Callback URL password. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return string
     */
    public function postMessagesSendNotify($fonenumber, $method, $url, $url_username = null, $url_password = null)
    {
        list($response) = $this->postMessagesSendNotifyWithHttpInfo($fonenumber, $method, $url, $url_username, $url_password);
        return $response;
    }

    /**
     * Operation postMessagesSendNotifyWithHttpInfo
     *
     * Configure the callback URL to notify when a message is sent.
     *
     * @param string $fonenumber Your FracTEL phone number (required)
     * @param string $method Callback URL method. (required)
     * @param string $url Callback URL. (required)
     * @param string $url_username Callback URL username. (optional)
     * @param string $url_password Callback URL password. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of string, HTTP status code, HTTP response headers (array of strings)
     */
    public function postMessagesSendNotifyWithHttpInfo($fonenumber, $method, $url, $url_username = null, $url_password = null)
    {
        // verify the required parameter 'fonenumber' is set
        if ($fonenumber === null) {
            throw new \InvalidArgumentException('Missing the required parameter $fonenumber when calling postMessagesSendNotify');
        }
        // verify the required parameter 'method' is set
        if ($method === null) {
            throw new \InvalidArgumentException('Missing the required parameter $method when calling postMessagesSendNotify');
        }
        // verify the required parameter 'url' is set
        if ($url === null) {
            throw new \InvalidArgumentException('Missing the required parameter $url when calling postMessagesSendNotify');
        }
        // parse inputs
        $resourcePath = "/messages/send_notify";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/x-www-form-urlencoded']);

        // form params
        if ($fonenumber !== null) {
            $formParams['fonenumber'] = $this->apiClient->getSerializer()->toFormValue($fonenumber);
        }
        // form params
        if ($method !== null) {
            $formParams['method'] = $this->apiClient->getSerializer()->toFormValue($method);
        }
        // form params
        if ($url !== null) {
            $formParams['url'] = $this->apiClient->getSerializer()->toFormValue($url);
        }
        // form params
        if ($url_username !== null) {
            $formParams['url_username'] = $this->apiClient->getSerializer()->toFormValue($url_username);
        }
        // form params
        if ($url_password !== null) {
            $formParams['url_password'] = $this->apiClient->getSerializer()->toFormValue($url_password);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'string',
                '/messages/send_notify'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'string', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'string', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
